/* основні параметри */

body {
  background-color: #fff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/* common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
.section {
  padding: 96px 0;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .section {
    padding: 120px 0;
  }
}
/* хедер меню */
.nav-menu-list,
.address-header {
  display: none;
}
.header-menu {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-menu .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.logo {
  color: #4d5ae5;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  padding: 16px 0;
  text-transform: uppercase;
}
.logo-text {
  color: #2e2f42;
}
.burger-btn {
  border: none;
  background-color: transparent;
  padding: 16px 0 15px;
}
.burger-svg {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .nav-menu-list,
  .address-header {
    align-items: center;
    display: flex;
    gap: 40px;
  }
  .header-nav-links {
    display: flex;
  }
  .logo {
    margin-right: 120px;
    padding: 24px 0;
  }
  .address-header {
    font-style: normal;
  }
  .link-header {
    color: #2e2f42;
    display: block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 24px 0;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .active::after {
    border-radius: 2px;
    background-color: #404bbf;
    bottom: -1px;
    content: '';
    display: block;
    height: 4px;
    position: absolute;
    transition: width 0.3s;
    width: 100%;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .link-address {
    color: #434455;
    display: block;
    min-width: 119px;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1158px) {
  .address-list {
    display: flex;
    gap: 40px;
  }
  .logo {
    margin-right: 76px;
  }
  .link-address {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    min-width: 153px;
    padding: 24px 0;
  }
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
  .link-header:hover,
  .link-header:focus,
  .link-address:hover,
  .link-address:focus {
    color: #404bbf;
  }
}
/* mobile menu */

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-conteiner {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.active {
  position: relative;
  color: #404bbf;
}
.mobile-address-list .link-address {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-address-list .burger-phone {
  color: #4d5ae5;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-address-list li:first-child {
  margin-bottom: 24px;
}

.mobile-address-list {
  margin-bottom: 48px;
}
.mobile-menu-social {
  display: flex;
  justify-content: space-between;
}
.team-social-item {
  height: 40px;
  width: 40px;
}
.team-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  /* hero busines*/
}
.business {
  max-width: 320px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-people-office.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.business-h-one {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 216px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
}
.order-button {
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  margin: 0 auto;
  min-width: 169px;
  min-height: 56px;
  overflow: hidden;
  padding: 16px 32px;
  transition-duration: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .business {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-people-office.jpg);
  }
  .business-h-one {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }

  .business.section {
    padding: 112px 0;
  }
}
@media screen and (min-width: 1158px) {
  .order-button:hover,
  .order-button:focus {
    background-color: #404bbf;
    border: none;
  }
  .business {
    max-width: 1158px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/pc-people-office.jpg);
  }
  .business-h-one {
    margin-bottom: 48px;
  }
  .business.section {
    padding: 188px 0;
  }
}
/* section second advantages*/

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.advantages-item {
  min-width: 288px;
}
.advantages-icon {
  display: none;
}
.advantages-h-three {
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
.base-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .advantages-item {
    flex-basis: calc((100% - 24px) / 2);
    min-width: 264px;
  }
  .advantages-h-three {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .advantages-list {
    flex-wrap: nowrap;
  }
  .advantages-item {
    flex-basis: calc((100% - 72px) / 4);
    max-width: 264px;
  }
  .advantages-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 112px;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .advantages-h-three {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}
/* our team */
.team {
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  row-gap: 64px;
  justify-content: center;
  align-items: center;
}
.team-card {
  max-width: 264px;
  background-color: #fff;
}
.team-card p {
  text-align: center;
}
.base-h-two {
  color: #2e2f42;
  display: block;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
}
.base-h-three {
  color: #2e2f42;
  display: block;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}
.team-card-desc .base-text {
  margin-bottom: 8px;
}
.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-card {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  overflow: hidden;
}
.team-card-desc {
  padding: 32px 0;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .team-card {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .team-social-link:hover,
  .team-social-link:focus {
    background-color: #404bbf;
  }
  .team-card {
    flex-basis: calc((100% - 72px) / 4);
  }
}
/* portfolio */
.overlay {
  display: none;
}
.portfolio-list {
  display: flex;
  gap: 48px;
  flex-direction: column;
}

.portfolio-list-desc {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.portfolio-list-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-list-desc .base-h-three {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 72px;
    flex-direction: row;
  }
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }
  .portfolio-list-item {
    box-shadow: none;
  }
  .portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
  }
  .portfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
  .portfolio-list-img {
    overflow: hidden;
    position: relative;
  }
  .portfolio-list-item:hover .overlay {
    transform: translateY(0);
  }
  .overlay {
    display: block;
    background-color: #4d5ae5;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
  }
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  margin: 0 auto;
}
.logo-text-footer {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-weight: 400;
}
.footer-info {
  margin-bottom: 72px;
}
.footer-title {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 16px;
}
.footer .logo {
  text-align: center;
  margin-bottom: 16px;
  padding: 0;
}
.footer .social {
  margin-bottom: 72px;
}
.footer .team-social-list {
  gap: 16px;
}
.footer-send {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.footer-input {
  outline: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  min-width: 264px;
  min-height: 40px;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  transition: border 250ms ease-in-out;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.6;
}
.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  min-height: 40px;
  background-color: #4d5ae5;
}
.send {
  fill: #fff;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 72px;
    padding-left: 108px;
  }
  .footer .logo {
    text-align: left;
    margin-bottom: 16px;
    padding: 0;
  }
  .footer-text {
    width: 264px;
  }
  .footer-info,
  .footer .social {
    margin-bottom: 0;
  }
  .footer-title {
    text-align: left;
  }
  .footer-send {
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }
}

@media screen and (min-width: 1158px) {
  .footer .team-social-link:hover,
  .footer .team-social-link:focus {
    background-color: #31d0aa;
  }
  .footer .container {
    align-items: baseline;
    padding: 0 15px;
    gap: 0;
  }
  .footer-info {
    margin-right: 120px;
  }
  .social {
    margin-right: 80px;
  }
  .footer-input:hover,
  .footer-input:focus {
    border: 1px solid #31d0aa;
  }
  .footer-input::placeholder {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-input:hover::placeholder,
  .footer-input:focus::placeholder {
    color: #31d0aa;
  }
  .footer-button:hover,
  .footer-button:focus {
    background-color: #31d0aa;
  }
}
/* ---modal-overlay--- */
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  min-width: 288px;
  max-width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
.modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:hover,
.close:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}
.modal-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal-form-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-field {
  width: 100%;
  margin-bottom: 8px;
}
.form-field.last {
  margin-bottom: 16px;
}
.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.input-box {
  position: relative;
}
.user-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: transparent;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-input {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text-area {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  height: 120px;
  resize: none;
  outline: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text-area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.license-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-label:focus-within {
  border: 1px solid #4d5ae5;
}
.user-input:hover + .svg-input,
.user-input:focus + .svg-input {
  fill: #4d5ae5;
}
.user-input:hover,
.user-input:focus,
.modal-text-area:hover,
.modal-text-area:focus {
  border-color: #4d5ae5;
}
.license-desc {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.license {
  margin-bottom: 24px;
}
.checkmark {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.check:checked + .license-desc .checkmark {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .modal {
    padding-left: 24px;
    padding-right: 24px;
  }
  .modal {
  }
}
@media screen and (min-width: 1158px) {
}
